.containerBodyCuenta {
    background-color:tomato;

    .btn {
    width: 6.25rem;}

    .btn:hover{
    background-color:rgb(98, 49, 109);
    color: white;
    border-radius: 0.31rem;}

    .btn-secondary{
    width: fit-content;}
}